/***** Common Styles *****/
body {
    background-color: #f2f2f2;
    font-family: 'DM Sans', sans-serif;
}

.header {
    width: 100%;
    padding: 0;
    background-color: #272727;
}

.header .logo {
    width: 100px;
    margin: 10px 50px;
}

.line1,
.line {
    border-bottom: 5px solid #ffc107;
}

.sidebar {
    position: relative;
    height: calc(100vh - 110px);
    background-color: #272727;
    color: white;
}

.sidebar-header {
    background-color: #343333;
}

.sidebar-header img.user {
    width: 60px;
    border-radius: 50%;
}

.sidebar-menu {
    background-color: #343333;
    padding: 20px;
}

.sidebar .menu-item {
    padding: 10px;
}

.sidebar .menu-item a {
    text-decoration: none;
    color: #FFFFFF;
}

.sidebar .menu-item:hover {
    cursor: pointer;
    background-color: #494949;
    color: #ffc107;
}

.container-fluid .card {
    border: none;
    background-color: #fff;
}

.card-header {
    background-color: #ffc107;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.sidebar .logout-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #343333;
}

.sidebar .btn-logout {
    background: #343333;
    color: #FFFFFF;

}

.category {
    align-items: center;
}

/***** Table Styles *****/
.table {
    width: 100%;
    margin-top: 20px;
}

.table th,
.table td {
    text-align: left;
}
.table tr{
    vertical-align: middle;
    text-align: center;
}

@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }
}

/***** Form Controls *****/
.login-box .form-control {
    background-color: #272727;
    border: 1px solid #fff;
    color: #fff;
}

.category-add .form-control {
    border: 1px solid #CED4DA;
}

.category-add div {
    width: 45%;
}

.login-box .form-group label,
.category-add label {
    margin-bottom: 10px;
    color: #514F4F;
    font-weight: 600;
}

.checkbox-group .form-check {
    display: flex;
    align-items: center;
    gap: 10px;
}

/***** Button Styles *****/
.table-responsive .btn-edit {
    border: none;
    background: #B0D6FF;
    padding: 5px 20px;
    border-radius: 12px;
    margin-bottom: 5px;
}

.table-responsive .btn-delete {
    border: none;
    background: #FDE4E9;
    padding: 5px 20px;
    border-radius: 12px;
    margin-bottom: 5px;
}

.table-responsive .btn-active {
    background: #DCFCE7;
    border-radius: 23px;
    color: #667085;
}

.table-responsive .btn-inactive {
    background: #DCFCE7;
    border-radius: 23px;
    color: #667085;
}

.table-responsive .btn-active::before {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #22C55E;
    margin-right: 8px;
}

.table-responsive .btn-inactive::before {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #22C55E;
    margin-right: 8px;
}


.card-header .btn-addnews {
    border: none;
    background-color: #000;
    color: #ffff;
}

/***** Login Styles *****/
.login-box {
    background-color: #272727;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

#loginForm {
    padding: 20px;
}

.login-box h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    color: #fff;
}

.login-box .logo {
    text-align: center;
    width: 80px;
}

/***** Dashboard Styles *****/
.dashboard {
    background-color: #f8f9fa;
}

.categoryselect .select,
.categorysearch .search {
    margin: 15px;
    padding: 5px 10px;
    border: 1px solid #C1C1C1;
    border-radius: 12px;
}

.entries select {
    margin: 0px 5px;
    border: 1px solid #C1C1C1;
    border-radius: 8px;
}

.images{
    width: 78px;
    height: 37px !important;
}

/***** category styles *****/
.category-add {
    justify-content: space-between;
    gap: 20px;
    margin: 15px;
}

.category-page .checkbox-group .form-check .form-input {
    border: 1px solid #CED4DA;
    transform: scale(2);
    height: 8px;
    width: 10px;
}

.category-page .checkbox-group .form-label {
    margin-bottom: 0px;
}

.category-add .save-button {
    border: none;
    margin-top: 35px;
    background-color: #000;
}

/***** edit category popup section *****/

.editcategory-page {
    justify-content: center;
    align-items: center;
}

.category-edit {
    position: fixed;
    top: 20%;
    background: #ffff;
    width: 30%;
    padding: 20px;
    border: 1px solid #9B9B9B;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .category-edit {
        width: 60%;
    }
}

.category-edit .category-add {
    flex-direction: column;
    gap: 10px;
    margin: 0;
    justify-content: normal;
}

.category-edit .category-add div {
    width: 100%;
}

.category-edit .checkbox-group {
    margin: 10px 0px;
    flex-direction: column;
}

.category-edit .checkbox-group .form-label {
    margin-bottom: 0px;
    margin-left: 10px;
}

.category-edit .form-check {
    padding: 0;
}

.category-edit .btn-update {
    background: #272727;
    color: #fff;
    border: none;
    border-radius: 12px;
    width: 100%;
    margin: 10px 0px;
}

.category-edit .select {
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    padding: .375rem .75rem;
    border-radius: 9px;
}

/***** Pagination Styles *****/
.pagination {
    margin-top: 20px;
}

.pagination a {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #272727;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #ffc107;
}

/***** profile *****/
.profile-add {
    display: flex;
    justify-content: space-between;
}

.profile-add div {
    margin: 20px;
    width: 45%;
}

.buttons {
    margin: 15px;
}

.btn-updateprofile {
    background: #272727;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    margin: 10px 0px;
}

.btn-updatepass {
    background: #272727;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    margin: 10px 0px;
}

/***** update password *****/
.update-pass {
    flex-direction: column;
}

.update-pass div {
    margin-bottom: 10px;
}

/***** all news *****/
.news-add select {
    padding: 6px;
    border: 1px solid #CED4DA;
    border-radius: 10px;
}

.news-add {
    justify-content: space-around;
    margin: 10px;
}

.news-add div {
    width: 45%;
}

.editor {
    margin: 30px;
    height: 30%;
}

.card .btn-save {
    border: none;
    background-color: #000;
    color: #ffff;
    margin: 0px 30px;
}

@media (max-width: 500px) {
    .category {
        flex-direction: column;
    }

    .category div {
        flex-direction: column;
    }
}


/***** Footer *****/
footer {
    background-color: #272727;
    color: #ffff;
    text-align: center;
    padding: 10px;
}